<launch>

<!--controller param file -->
  <rosparam file="$(find hexa_wexa)/config/controller.yaml" command="load"/>
<!--controller package calling-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/hexa_wexa" args="joint_state_controller
            leg1_position_controller
            leg2_position_controller
            leg3_position_controller
            leg4_position_controller
            leg5_position_controller
            leg6_position_controller
            femur1_position_controller
            femur2_position_controller
            femur3_position_controller
            femur4_position_controller
            femur5_position_controller
            femur6_position_controller"/>
<!-- calling robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/hexa_wexa/joint_states" />
  </node>

</launch>
